<app-hijo 
(incrementarDesdeHijo)="incrementar()"
(decrementarDesdeHijo)="decrementar()"
(mensajeDesdeHijo)="recibirMensaje($event)">
</app-hijo>
<p>Contador:  {{ valorContador}}</p>

<h3>El mensaje recibido desde el hijo es: {{mensajeRecibido}}</h3>  

<!--<app-hijo [recibeHijo]="mensajePadre"></app-hijo> -->

<app-hermano/>
<p>padre</p>
    <h1 appEstiloHermanos>{{nombre}}</h1>
    <button type="button" (click)="saludar()">Saludar</button>
    <button type="button" (click)="preguntar()">preguntar por hijo</button>


